<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-amber.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div id="app">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">{{app_name}}</span>
                </div>
            </header>

            <main class="mdl-layout__content">
                <div class="page-content">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h6 class="mdl-card__title-text centered" id="convertion-title" v-if='from_name || to_name'>{{from_name}}
                                <i class="material-icons">repeat</i> {{to_name}}</h6>
                        </div>
                        <div class="currency-inputs-wrapper">
                            <div class="mdl-textfield mdl-js-textfield ">
                                <input class="mdl-textfield__input" @keyup='fromChange' type="text" v-model='from_val' pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                <select class="mdl-textfield__input" id="from_currencies_select" v-model='from_id' @change='fromSelectChange'>
                                    <option v-for='currency in currencies' :value="currency.id">{{currency.currencyName}}</option>
                                </select>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield ">
                                <input class="mdl-textfield__input" @keyup='toChange' type="text" v-model='to_val' pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                <select class="mdl-textfield__input" v-model='to_id' selected='selected' @change='toSelectChange'>
                                    <option v-for='currency in currencies' :value="currency.id">{{currency.currencyName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <br> {{error_message}}
                            <br>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="assets/js/idb.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        // window.onload = (e) => {

        const myDb = idb.open('currency-converter', 1, upgradeDB => {
            let currenciesStore = upgradeDB.createObjectStore('currencies');
            let convertionRateStore = upgradeDB.createObjectStore('convertion-rate');

        })
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js').then(function (reg) {
                console.log('SW registered');
            }).catch(function (err) {
                console.error("SW registration failed with error " + err);
            });
            navigator.serviceWorker.addEventListener('controllerchange', function () {
                window.location.reload();
            })
        }


    </script>
</body>

</html>